{%  extends 'basic.html'%}

<style>
.mybtn {text-decoration: none;} 
</style>

{% block body %}
<div>
   <center> <h1>Error 404 Page not found</h1> </center>
</div>
<div class="mybtn text-center pt-5">
   <center> <h6>You will be redirect to home page after 5 sec.</h6></center>
</div>




{% if user.is_authenticated %}
<script>
    setTimeout(function(){
         window.location.href = "http://127.0.0.1:8000/";
      }, 5000);
</script>

{%else%}
<script>
    setTimeout(function(){
         window.location.href = "http://127.0.0.1:8000/";
      }, 5000);
</script>
{%endif%} 


{%  endblock %}