{% extends 'basic.html' %}
{% block title %}<title>User Public Profile</title>{% endblock %}

{% block css %}
<style>
body {background-color: hsl(0, 47%, 96%);}


.fa{font-size: 25px;width: 38px;}

*{
  margin: 0;
  padding: 0;
}
.wrapper{
  display: block;
  height: 304px;
  width: 283px;
  position: relative;
  border: 1px solid gray;
  border-radius: 53%;
  background: url({{userprofile.userprofileimg.url}});
  background-size: 100%;
  margin-left: 0px;
  margin-top: 0px;
  overflow: hidden;
}


/* .container{height: 40%;} */
  
  .grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .grid .grid-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 15px 10px 10px 20px;
  }
  
  .grid .grid-header:before,
  .grid .grid-header:after {
    display: table;
    content: " ";
  }
  
  .grid .grid-header:after {
    clear: both;
  }
  
  
  
  .grid .grid-header span {
    padding: 0 5px;
  }
  
  .grid .grid-header > .fa {
    padding: 5px 10px 0 0;
  }
  
  .grid .grid-header > .grid-tools {
    padding: 4px 10px;
  }
  
  .grid .grid-header > .grid-tools a {
    color: #999999;
    padding-left: 10px;
    cursor: pointer;
  }
  
  .grid .grid-header > .grid-tools a:hover {
    color: #666666;
  }
  
  .grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
  }
  
  .grid .full {
    padding: 0 !important;
  }
  
  .grid .transparent {
    box-shadow: none !important;
    margin: 0px !important;
    border-radius: 0px !important;
  }
  
  .grid.top.black > .grid-header {
    border-top-color: #000000 !important;
  }
  
  .grid.bottom.black > .grid-body {
    border-bottom-color: #000000 !important;
  }
  
  .grid.top.blue > .grid-header {
    border-top-color: #007be9 !important;
  }
  
  .grid.bottom.blue > .grid-body {
    border-bottom-color: #007be9 !important;
  }
  
  .grid.top.green > .grid-header {
    border-top-color: #00c273 !important;
  }
  
  .grid.bottom.green > .grid-body {
    border-bottom-color: #00c273 !important;
  }
  
  .grid.top.purple > .grid-header {
    border-top-color: #a700d3 !important;
  }
  
  .grid.bottom.purple > .grid-body {
    border-bottom-color: #a700d3 !important;
  }
  
  .grid.top.red > .grid-header {
    border-top-color: #dc1200 !important;
  }
  
  .grid.bottom.red > .grid-body {
    border-bottom-color: #dc1200 !important;
  }
  
  .grid.top.orange > .grid-header {
    border-top-color: #f46100 !important;
  }
  
  .grid.bottom.orange > .grid-body {
    border-bottom-color: #f46100 !important;
  }
  
  .grid.no-border > .grid-header {
    border-bottom: 0px !important;
  }
  
  .grid.top > .grid-header {
    border-top-width: 4px !important;
    border-top-style: solid !important;
  }
  
  .grid.bottom > .grid-body {
    border-bottom-width: 4px !important;
    border-bottom-style: solid !important;
  }

  
  
    
.card-title .title1{float: left;}
.card-title .date1{float: right;}

.profile nav{width: 100%;}
.profile nav ul{list-style-type: none;margin:0px;padding:0px;}
.profile nav ul li{display: inline-block;list-style-type: none;}
.profile nav ul li.update_btn{float: right;}

.nav-tabs li.active{border-bottom: 4px solid #198754;position: relative;background: #198754;}
.nav-tabs li.active a{color: #fff;}
.nav-tabs li a:focus{outline: none;box-shadow: none;}

</style>
{% endblock %}

{% block body%}

  <div class="container bootstrap snippets bootdey mt-4" sytle="border-radius: 45px;">
    <div class="row">
        <!-- BEGIN USER PROFILE -->
        <div class="col-md-12">
            <div class="grid profile">   
                <div class="grid-body">
                  <nav>
                    <ul class="nav-tabs">
                        <li class="active"><a class="btn" href="#profile" data-toggle="tab">Profile</a></li>
                        <li><a class="btn" href="#educationandemployment" data-toggle="tab">Education And Employment</a></li>
                        <li><a class="btn" href="#contactinfo" data-toggle="tab">Contact Info</a></li>
                        <li><a class="btn" href="#socialmedia" data-toggle="tab">Social Media Info</a></li>
                        <li><a class="btn" href="#about" data-toggle="tab">About</a></li>
                    </ul>
                    </nav>
                    <div class="tab-content">
                        <!-- BEGIN PROFILE -->
                      
                        <div class="tab-pane active" id="profile">
                            <p class="lead pt-2" style="padding-left: 95px;">{{user}}</p>
                            <hr>
                            <div class="row">
                                <div class = "col-md-4">
                                  <div class="wrapper">
                                    <img type="file" class="myfile">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                    <p><strong>Email:</strong> <a href="soengsouy.com">{{user.email}}</a></p>
                                    <p><strong>First Name: </strong>{{user.first_name}}</p>
                                    <p><strong>Last Name: </strong> {{user.last_name}}</p>
                                    <p><strong>Date of  Birth(DOB):</strong>{{profileinfoform.dob}}</p>
                                    <p><strong>Gender: </strong>Male</p>
                                    <!-- <p><strong>Joined on:</strong> July 24<sup>th</sup>, 2018</p> -->
                                    <p><strong>Hobbies:</strong>{{profileinfoform.hobbies}}</p>
                                    <!-- <p><strong>Skills:</strong> <span class="label label-primary">HTML</span>, <span class="label label-primary">CSS</span>, <span class="label label-primary">PHP Laravel</span>, <span class="label label-primary">JQUERY</span>, <span class="label label-primary">AJAX</span>, <span class="label label-primary">PHP</span>, <span class="label label-primary">RUBY</span>, <span class="label label-primary">PHYTON</span>, <span class="label label-primary">C</span></p> -->
                                </div>
                                <div class="col-md-4">
                                    <p><strong>Country: </strong>{{profileinfoform.country}}</p>
                                    <p><strong>State: </strong>{{profileinfoform.state}}</p>
                                    <p><strong>City/Village: </strong>{{profileinfoform.city}}</p>
                                    <p><strong>Address:</strong>{{profileinfoform.address}}</p>
                                    <p><strong>Pincode:</strong>{{profileinfoform.pincode}}</p>
                                    <p><strong>Phone:</strong> (+91) {{profileinfoform.phoneno1}}</p>
                                </div>
                            </div>
                        </div>
          
                    <!-- END PROFILE -->


                    <!-- EDUCATION AND EMPLOYMENT START -->
                    <div class="tab-pane" id="educationandemployment">
                      <p class="lead pt-2" >Education And Employment</p>
                      <hr>
                      <div class="row">
                        <div class="col-md-6">
                          <h4>Education </h4>
                            <div class="graduation">
                              <div><h6>Education(Graduation): </h6></div>
                              <p><strong>College/University: </strong> {{profileinfoform.university}}</p>
                              <div class="row">
                                <div class="col-md-6">
                                  <p><strong>Start Date:</strong>{{profileinfoform.startdate}}</p>
                                </div>
                                <div class="col-md-6">
                                  <p><strong>End Date:</strong> {{profileinfoform.completiondate}}</p>
                                </div>
                              </div>
                              <p><strong>City: </strong>{{profileinfoform.city}}</p>
                            </div>
                            <div class="12_class">
                              <div><h6>Education(12th): </h6></div>
                                <p><strong>College: </strong>{{profileinfoform.college}}</p>
                                <div class="row">
                                  <div class="col-md-6">
                                    <p><strong>Start Date:</strong>{{profileinfoform.collegestartdate}}</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p><strong>End Date:</strong>{{profileinfoform.collegecompletiondate}}</p>
                                  </div>
                                </div>
                                <p><strong>City: </strong>{{profileinfoform.collegecity}}</p>
                              </div>
                              <div class="10_class">
                                <div><h6>Education(10th): </h6></div>
                                <p><strong>School: </strong>{{profileinfoform.school}}</p>
                                <div class="row">
                                  <div class="col-md-6">
                                    <p><strong>Start Date:</strong>{{profileinfoform.schoolstartdate}}</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p><strong>End Date:</strong>{{profileinfoform.schoolcompletiondate}}</p>
                                  </div>
                                </div>
                                <p><strong>City: </strong>{{profileinfoform.schoolcity}}</p>
                              </div>
                        </div>
                        <div class="col-md-6">
                          <h4>Employment </h4>
                          <p><strong>Company Name:</strong>{{profileinfoform.company}}</p>
                          <p><strong>Experience: </strong> {{profileinfoform.experience}} year</p>
                          <p><strong>City: </strong>{{profileinfoform.companycity}}</p>
                          <p><strong>Technical Skills: </strong>{{profileinfoform.technicalskills}}</p>
                        </div>
                      </div>
                    </div>
                    <!-- EDUCATION AND EMPLOYMENT END -->

                    <!-- CONTACT INFORMATION STRT  -->
                    <div class="tab-pane" id="contactinfo">
                      <p class="lead pt-2" >Contact</p>
                      <hr>
                      <div class="row">
                        <p><strong><i class="fa fa-envelope"></i></strong>{{profileinfoform.emailid}}</p>
                        <p><strong><i class="fa fa-phone"></i> </strong>{{profileinfoform.phoneno2}}</p>
                        <p><strong><i class="fa fa-map-marker"></i></strong>{{profileinfoform.permanentaddress}}</p>
                        <p><strong><i class="fa fa-envelope"></i></strong>{{profileinfoform.website}}</p>
                      </div>
                    </div>
                    <!-- CONTACT INFORMATION END -->

                    <!-- SOCIAL MEDIA START  -->
                    <div class="tab-pane" id="socialmedia">
                      <p class="lead pt-2" >Social Media</p>
                      <hr>
                      <div class="row">
                        <p><strong><i class="fa fa-facebook"></i></strong>{{profileinfoform.facebook}}</p>
                        <p><strong><i class="fa fa-twitter"></i></strong>{{profileinfoform.twitter}}</p>
                        <p><strong><i class="fa fa-youtube"></i></strong>{{profileinfoform.youtube}}</p>
                        <p><strong><i class="fa fa-linkedin"></i></strong>{{profileinfoform.linkedin}}</p>
                      </div>
                    </div>
                    <!-- SOCIAL MEDIA START -->

                    <!-- ABOUT START -->
                    <div class="tab-pane" id="about">
                      <p class="lead pt-2" >About</p>
                      <hr>
                      <div class="row">
                        <p><strong>About: <br></strong>{{profileinfoform.about}}</p>
                      </div>
                    </div>
                    <!-- ABOUT END -->
                </div>
            </div>
        </div>
    </div>
    <!-- END USER PROFILE -->
</div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>

{%endblock%}
