{% extends "basic.html" %}

{% block body %} 
  
  <!--Password Reset Complete-->
    <div class="container p-4">
	    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
		<hr>
        <p>Your password has been set. You may go ahead and log in now.</p>                 
        <a href="{% url 'landing' %}" class="btn btn-success">Log in</a>
        {% comment %} <button type="button" class="btn btn-outline-success mx-1" data-bs-toggle="modal" data-bs-target="#loginModal">
            Login Here
        </button> {% endcomment %}
    </div>

{% endblock %}